<div *ngIf='showLandingPage'>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">CMS</a>
      </div>
    </div>
  </nav>

  <div class="contDiv">
    <table class="content">
      <tr>
        <td routerLink="/CompanyLoginComponent">
          <img src="https://maxcdn.icons8.com/Share/icon/androidL/Business//add_contact_to_company1600.png">
        </td>
      </tr>
      <tr>
        <td>
          <h2 (click)='toSignIn()'>SignIn</h2>
        </td>
      </tr>
    </table>

    <div>

    </div>