<!--<div class="main-content">
  <div class="container-fluid">
    <div class="row">

      <mat-card>Simple card</mat-card>
    </div>
  </div>
</div>-->
<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header" data-background-color="red">
            <h4 class="title">All Articles</h4>
            <p class="category"></p>
          </div>
          <div class="card-content">

            <div class="row">
              <div class="col-md-12">
                <mat-card id='firstCard' style="height:35px">
                  <!--<mat-card-content>-->
                    <div class="row">
                      <div class="col-md-4">

                        <form>
                          <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                            <input id="search" type="text" class="form-control" name="Search" placeholder="Search">
                          </div>
                        </form>
                      </div>
                    </div>
                    
                    <!--<form class="navbar-form navbar-left" role="search">
                      <div class="form-group form-black is-empty">
                        <input type="text" class="form-control" placeholder="Search">
                        <span class="material-input"></span>
                        <button type="submit" class="btn btn-white btn-round btn-just-icon">
                    <i class="material-icons">search</i><div class="ripple-container"></div>
                    </button>
                      </div>
                    </form>-->
                  <!--</mat-card-content>-->
                </mat-card>
              </div>
              <div class="col-md-4">

              </div>
            </div>

            <div class="row">
              <div class="col-md-4">
                <mat-card>
                  <mat-card-header>
                    <mat-card-title>
                      CISCO - Multi-Cloud Strategy
                    </mat-card-title>
                  </mat-card-header>
                  <mat-card-content>
                    Cisco Systems Inc. ( CSCO ) present at Nasdaq 37th Investor Program in London, UK December 5, 2017
                  </mat-card-content>
                </mat-card>
              </div>
              <div class="col-md-4">
                <mat-card>
                  <mat-card-header>
                    <mat-card-title>
                      CISCO - Multi-Cloud Strategy
                    </mat-card-title>
                  </mat-card-header>
                  <mat-card-content>
                    Cisco Systems Inc. ( CSCO ) present at Nasdaq 37th Investor Program in London, UK December 5, 2017
                  </mat-card-content>
                </mat-card>
              </div>
              <div class="col-md-4">
                <mat-card>
                  <mat-card-header>
                    <mat-card-title>
                      CISCO - Multi-Cloud Strategy
                    </mat-card-title>
                  </mat-card-header>
                  <mat-card-content>
                    Cisco Systems Inc. ( CSCO ) present at Nasdaq 37th Investor Program in London, UK December 5, 2017
                  </mat-card-content>
                </mat-card>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <mat-card>
                  <mat-card-header>
                    <mat-card-title>
                      CISCO - Multi-Cloud Strategy
                    </mat-card-title>
                  </mat-card-header>
                  <mat-card-content>
                    Cisco Systems Inc. ( CSCO ) present at Nasdaq 37th Investor Program in London, UK December 5, 2017
                  </mat-card-content>
                </mat-card>
              </div>
              <div class="col-md-4">
                <mat-card>
                  <mat-card-header>
                    <mat-card-title>
                      CISCO - Multi-Cloud Strategy
                    </mat-card-title>
                  </mat-card-header>
                  <mat-card-content>
                    Cisco Systems Inc. ( CSCO ) present at Nasdaq 37th Investor Program in London, UK December 5, 2017
                  </mat-card-content>
                </mat-card>
              </div>
              <div class="col-md-4">
                <mat-card>
                  <mat-card-header>
                    <mat-card-title>
                      CISCO - Multi-Cloud Strategy
                    </mat-card-title>
                  </mat-card-header>
                  <mat-card-content>
                    Cisco Systems Inc. ( CSCO ) present at Nasdaq 37th Investor Program in London, UK December 5, 2017
                  </mat-card-content>
                </mat-card>
              </div>
            </div>
            <div class="clearfix"></div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>